
Solidworks/Krankonstruksjon/Ny Deler bunnplate/Bunnbjelke_høyre-Trykk på høyre.CWR
Solidworks/Krankonstruksjon/Ny Deler bunnplate/Vinkeljern_50x50x6-Trykk på vinkeljern.CWR
Solidworks/Krankonstruksjon/Winchsystem/~$Bunnbjelke_98.5.SLDPRT
Solidworks/Krankonstruksjon/Winchsystem/~$Bunnbjelke_98.5.SLDPRT
Solidworks/Krankonstruksjon/Ny Deler bunnplate/Bunnbjelke_høyre-Trykk_høyre.CWR
Solidworks/Krankonstruksjon/Ny Deler bunnplate/Vinkeljern_50x50x6-Trykk_vinkeljern.CWR
